<main class="flex flex-col justify-center w-screen min-h-screen">
  <% if @users.empty? %>
    <h1 class="text-center">There is no User for now</h1>
  <% end %>
  <% @users.each do |user| %>
    <a href="/users/<%= user.id %>" class="no-underline">
      <%= render 'shared/user_card', user: user %>
    </a>
  <% end %>
