<header class="w-full p-4">
  <div class="flex flex-wrap items-center jutify-end gap-4">
    <% if user_signed_in? %>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= button_to "Sign in", new_user_session_path %>
      <%= button_to "Sign up", new_user_registration_path %>
    <% end %>
  </div>
</header>
