<div class="flex flex-col justify-center max-w-3xl gap-3 px-3 py-5 mx-auto sm:flex-row align-center sm:gap-6">
  <img src="<%= user.photo %>" alt="placeholder" class="h-auto mx-auto w-52"/>
  <div class="flex flex-col justify-center w-full max-w-lg gap-6 px-6 align-middle border-2 border-black">
    <h2 class="text-3xl text-left"><%= user.name %></h2>
    <p class="text-right">Number of posts: <%= user.post_counter %></p>
  </div>
</div>
